.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
  height: 50vh;
  text-align: center;
  // background-color: var(--color-transparent);
  background-color:#00000001;
  // background-color: #cb252599;
  backdrop-filter: blur(1rem);

  color: var(--color-white);
  box-shadow: 1px 1px 10px 1px white;
  border-radius: 10px;
  position: relative;

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  .cardImage {
    max-width: 90%;
    max-height: 90%;
  }

  .cardTitle {
    color: var(--color-black);
    font-size: 1.5rem;
    font-weight: bold;
  }

  .cardText {
    color: var(--color-white);
    font-weight: bold;
  }

  .cardSubtitle {
    color: var(--color-three);
    font-weight: bolder;
  }

  .cardBody {
    // background: var(--bg-one);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem .5rem;
    width: 100%;
    flex-grow: 1;
    // background: var(--bg-one);
    // background-color: var(--color-transparent);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    // opacity:.5;


    .btnSection {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .5rem;

      .cardBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-white);
        font-weight: bold;
        border-radius: 8px;
      }

      .cardBtn:nth-child(1) {
        width: 3rem;
        height: 3rem;
        padding: .5rem;
        position: absolute;
        top: 0;
        right: 0;

        background-color: var(--color-three);
      }

      .cardBtn:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        padding: .5rem 1rem;
        background-color: var(--color-four);
      }

      .cardBtn:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        padding: .5rem 1rem;
        background-color: var(--color-black);
        color: var(--color-white);
      }

      svg {
        width: 1rem;
        height: 1rem;
        // margin-right: .3rem;
      }
    }
  }


}

@media screen and (min-width:576px) {
  .card {
    .cardBody {}
  }
}

@media screen and (min-width:768px) {
  .card {
    // height: 50vh;
    height: 40vh;

    .imageContainer {
      height: 50%;

    }

    .cardBody {
      .btnSection {
        .cardBtn:nth-child(1) {
          width: 2.7rem;
          height: 2.7rem;

        }
      }
    }
  }
}