.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 2rem auto;
  width: 100%;
  height: 35rem;
  background-color: var(--color-white-dinamic);
  color: var(--color-white);
  text-align: center;
  box-shadow: 1px 1px 7px 2px var(--color-one);
  border-radius: 10px;
  position: relative;

  &:hover {
    box-shadow: 1px 1px 10px 3px var(--color-one);
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: .5rem;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
  }

  .cardImage {
    width: 100%;
    height: 17rem;
    // border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .cardTitle {
    color: var(--color-black);
    font-size: 1.5rem;
    font-weight: bold;
  }

  .cardText {
    color: var(--color-one);
    font-weight: bold;
    margin: .5rem auto;
  }

  .cardSubtitle {
    padding: .5rem;
    color: var(--color-black-dinamic);
    font-weight: bolder;
    text-align: left;
    opacity: .9;
    font-size: 1.2rem;
  }

  .cardBody {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    padding: 1rem .5rem;
    width: 100%;
    flex-grow: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .btnSection {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: .5rem;

      .cardBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-white);
        font-weight: bold;
        border-radius: 8px;
        padding: .5rem;
      }

      .cardBtn:nth-child(1) {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: .2rem;
        right: .2rem;
        background-color: var(--color-three);
      }

      .cardBtn:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        background-color: var(--color-four);
        flex-grow: .5;

      }

      .cardBtn:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        background-color: var(--color-white);
        color: var(--color-black);
        border: solid 1px black;
        flex-grow: .5;

      }

      svg {
        display: block;
        width: 30px;
        height: 30px;
      }
    }
  }


}

@media screen and (min-width:768px) {
  .card {
    height: 55vh;
    height: 25rem;

    .cardImage {
      height: 12.5rem;
    }

    .cardBody {
      .btnSection {
        justify-content: center;
        // gap: .5px;

        .cardBtn:nth-child(1) {
          width: 2.7rem;
          height: 2.7rem;
        }

        .cardBtn:nth-child(2) {
          width: 2.7rem;
          height: 2.7rem;
          flex-grow: .3;
        }

        .cardBtn:nth-child(3) {
          width: 2.7rem;
          height: 2.7rem;
          flex-grow: .3;
          gap:1px;
          
        }
      }
    }
  }
}

@media screen and (min-width:992px) {
  .card {
    // height: 45vh;
    // height: 23rem;
  }
}