.btnThemeContainer{
  padding: .5rem;
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 6rem;
    height: 2.7rem;
    background-color: var(--color-gray);
    // background-color: blue;
    border-radius: .5rem;
    position: relative;

    .switch{
      width: 50%;
      height:100%;
      background-color: var(--color-two);
      position: absolute;
      top: 0px;
      left:0px;
      right: 0;
      bottom: 0;
      border-radius: 10px;
      padding: .5rem;
      border: solid 5px var(--color-gray);
      transition: all ease-in-out 300ms;

      &.dark{
        left: unset;
        right:0;

      }
    }
    svg{
      display: block;
      width: 40px;
      height: 25px;
    }
  }
}

@media screen and (min-width:768px) {
  .btnThemeContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
  }
}