.btnThemeContainer{

  button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 6rem;
    height: 2.7rem;
    background-color: var(--color-gray);
    background-color: blue;
    border-radius: 1rem;
    position: relative;

    .switch{
      width: 2.7rem;
      height: 2.7rem;
      background-color: red;
      position: absolute;
      top: 0;
      left:0;
      border-radius: 50%;

      &.dark{
        left: unset;
        right:0;
      }
    }
    svg{
      display: block;
      width: 40px;
      height: 25px;
    }
  }
}