.ModalContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset:0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color:var(--color-bg-modal);
}
.closeSection{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modalBody{
  display: flex;
  justify-content: space-between;
  // align-items: center;
  flex-direction: column;
  padding: 1rem;
  min-width: 33.33%;
  min-height: 50%;
  background-color: var(--color-white);
  border-radius: 5px;

}