.title {
  padding: 1rem;
  color: var(--color-black);
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (min-width:768px){
  .titleSwitch{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .productSection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    // flex-shrink: 1;
  }
}

@media screen and (min-width:992px){
  .productSection{
    grid-template-columns: repeat(4,1fr);

  }
}

@media screen and (min-width:1200px) {
  .productSection{
    grid-template-columns: repeat(5,1fr);

  }
}