.mainLayout {
  background-color: var(--color-two);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-;
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

    .main {
      margin-top: 6rem;

      padding: 2rem 1rem;
      flex-grow: 1;

    }
  }
}