.mainLayout {
  background-image: linear-gradient(190deg, var(--color-white), var(--color-one-dinamic)30%);
  // background-size: 2500%;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

    .main {
      margin-top: 6rem;
      padding: .5rem;
      flex-grow: 1;

      .square {
        position: absolute;
        inset: 0;
        background-color: #00000030;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (min-width:768px) {
  .mainLayout {

    // background-size: 500%;
  }
}