.form {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  flex-grow: 1;

  .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;

    background-color: var(--color-white);
    color: var(--color-black);
    font-weight: bolder;
    border: solid 1px var(--color-black);
    border-radius: 7px;

    &:hover {
      opacity: .7;
    }
  }
}

.title {
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: bold;
}

.error {
  margin: .3rem 0;
  padding: .5rem;
  background-color: var(--color-three);
  border-radius: 5px;
  opacity: .8;
}

@media screen and (min-width:768px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}