.header {
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--color-one);
  min-height: initial;
  transition: all ease-in-out 1s;
  box-shadow: 1px 1px 7px 1px var(--color-one);
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;

  &.headerEfect {
    background-color: transparent;
    box-shadow: 1px 1px 7px 1px var(--color-black);
    // backdrop-filter: blur(1.0px);
    transition: background-color ease 500ms;
    backdrop-filter: blur(1px);

  }
}

.logoSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;

  a {
    // width: 10rem;
    // height: inherit;
    // display: block;
  }

  .mainLink {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bolder;
  }

  // .logo {
  //   max-height: 100%;
  //   max-width: 100%;
  // }
}

.toogleButton {
  padding: .1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  background-color: var(--color-two);
  color: var(--color-white);
}

.navbar {
  max-height: 0;
  overflow: hidden;
  // margin: 1rem auto;
  // transition: max-height ease-in-out 500ms;
  // background-color: var(--color-four);
  border-radius: .3rem;

  ul {
    padding: .5rem;
  }

  &.heightAuto {
    max-height: 100vh;
    transition: max-height ease-in-out 750ms;
    margin: 1rem auto;

  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem .5rem;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 5px;
    font-weight: bold;

    svg {
      width: 25px;
      height: 25px;
      margin-right: .3rem;
    }

  }
}



@media screen and (min-width:768px) {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navbar {
    width: 70%;
    max-height: 100vh;
    // background-color: inherit;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem;
    }
  }
}