.inputCheckContainer{
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
  // margin: 1rem auto;
  margin: 10px;
}
.labelContainer{
  margin: auto .5rem;
}
.label{
  // color: var(--color-three);
  // font-size: 1.2rem;
  // font-weight: bolder;
  display: inline-block;
  width: 3.7rem;
  height: 2rem;
  background-color: var(--color-gray);
  border-radius: 20px;
  position: relative;
  cursor:pointer;

  &::after{
    position: absolute;
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-white);
    border-radius: 50%;
    top: 4px;
    left: 5px;
    transition: .3s;
  }
}